.request {

    &__inner {
        padding-bottom: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: 80px;
        font-size: 60px;
    }

    &__list {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }
}

.list-request {

    &__item {
        position: relative;
        &:first-child {
            .list-request__icon-box {
                background: linear-gradient(136.87deg, #16373A 8.16%, #0A1F24 31.4%, #0B1B23 47.14%, #122B31 87.5%);
            }
        }
        &:not(:last-child) {
            margin-right: 60px;
        }
    }

    &__icon-box {
        position: relative;
        background: linear-gradient(321.99deg, #82C36D 2.26%, #25523E 92.51%);
        border-radius: 24px;
        width: 135px;
        height: 135px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
    }

    &__img {
        width: 50px;
        height: 50px;
    }

    &__span {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        color: #000000;
        font-weight: 700;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        top: -15px;
        right: -15px;
    }

    &__subtitle {
        font-size: 35px;
        line-height: 130.2%;
        font-weight: 400;
        max-width: 425px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 20px;
        line-height: 158.7%;
        max-width: 377px;
    }

    &__line {
        width: 270px;
        border-top: 1px dashed rgba(255, 255, 255, 0.55);
        position: absolute;
        top: 70px;
        right: -20px;

        &::before {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background-color: transparent;
            background-color: #fff;
            border-radius: 50%;
            margin-top: -5px;
            margin-left: -10px;   
        }

        &::after {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 8px solid transparent; border-left: 10px solid white;
            border-radius: 4px;
            margin-left: 270px;
            margin-top: -13px;
        }
    }
}

.form-request {

    &__fieldset {
        display: flex;
        align-items: center;
    }

    &__input {
        background: #202020;
        border: 4px solid rgba(255, 255, 255, 0.29);
        border-radius: 20px;
        padding: 26px 10px 26px 30px;
        color: white;
        margin-right: 20px;
        letter-spacing: 0.05em;
        &::placeholder {
            font-weight: 300;
            font-size: 22px;
        }
    }

    &__btn {
        padding: 25px 36px;
    }
}